$blanched-almond: #ffeecfff;
$mellow-apricot: #f5c181ff;
$persian-green: #00a79dff;
$pine-green: #007065ff;
$smoky-black: #0f0e0eff;

body {
    margin: 0;
    background-color: $blanched-almond;
  }
  
  p {
    font-family: "Raleway", sans-serif;
  }

