.sageyButton {
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: rgb(54, 70, 56);
    border-style: solid;
    border-radius: 30px;
    border-width: 3px;
    
    color: rgb(255, 255, 255);
    background-color: rgb(93, 161, 97);
    font-weight: bold;
    font-size: 15px;
    font-family: Roboto;
    
    cursor: pointer;
    transition: opacity .15s;
    transition: padding-top 1s,
        padding-bottom 1s,
        padding-left 1s,
        padding-right 1s;
    margin-right: 30px;
    margin-left: 20px;

}
.sageyButton:hover {
    opacity: .85;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sageyButton:active {
    opacity: .55;
}