body {
    margin: 0;
}

.header {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(112, 151, 117, 1);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}

.left-section {
    display: flex;
    align-items: center;
}
.logo {
    display: inline-block;
    height: 60px;
    margin-left: 5px;
    border-radius: 30px;
}