/* Coolors Exported Palette - https://coolors.co/0f5257-709775-0b3142-c6b9cd */

/* CSS HEX 
--midnight-green-eagle-green: #0f5257ff;
--russian-green: #709775ff;
--prussian-blue: #0b3142ff;
--languid-lavender: #c6b9cdff;

/* CSS HSL 
--midnight-green-eagle-green: hsla(184, 71%, 20%, 1);
--russian-green: hsla(128, 16%, 52%, 1);
--prussian-blue: hsla(199, 71%, 15%, 1);
--languid-lavender: hsla(279, 17%, 76%, 1);

/* SCSS HEX 
$midnight-green-eagle-green: #0f5257ff;
$russian-green: #709775ff;
$prussian-blue: #0b3142ff;
$languid-lavender: #c6b9cdff;

/* SCSS HSL 
$midnight-green-eagle-green: hsla(184, 71%, 20%, 1);
$russian-green: hsla(128, 16%, 52%, 1);
$prussian-blue: hsla(199, 71%, 15%, 1);
$languid-lavender: hsla(279, 17%, 76%, 1);

/* SCSS RGB 
$midnight-green-eagle-green: rgba(15, 82, 87, 1);
$russian-green: rgba(112, 151, 117, 1);
$prussian-blue: rgba(11, 49, 66, 1);
$languid-lavender: rgba(198, 185, 205, 1);

/* SCSS Gradient 
$gradient-top: linear-gradient(0deg, #0f5257ff, #709775ff, #0b3142ff, #c6b9cdff);
$gradient-right: linear-gradient(90deg, #0f5257ff, #709775ff, #0b3142ff, #c6b9cdff);
$gradient-bottom: linear-gradient(180deg, #0f5257ff, #709775ff, #0b3142ff, #c6b9cdff);
$gradient-left: linear-gradient(270deg, #0f5257ff, #709775ff, #0b3142ff, #c6b9cdff);
$gradient-top-right: linear-gradient(45deg, #0f5257ff, #709775ff, #0b3142ff, #c6b9cdff);
$gradient-bottom-right: linear-gradient(135deg, #0f5257ff, #709775ff, #0b3142ff, #c6b9cdff);
$gradient-top-left: linear-gradient(225deg, #0f5257ff, #709775ff, #0b3142ff, #c6b9cdff);
$gradient-bottom-left: linear-gradient(315deg, #0f5257ff, #709775ff, #0b3142ff, #c6b9cdff);
$gradient-radial: radial-gradient(#0f5257ff, #709775ff, #0b3142ff, #c6b9cdff); */